@fitbit: #21b5cf;
@bodyTrack: #c79409;
@lastFM: #ec0c0c;
@withings: #16924e;
@picasa: #8c2ebb;
@twitter: #1842ea;
@ggleCal: #d7186e; 

.flx-sourceFilters6 {
    a.fitbit { border-bottom-color: @fitbit; }
    a.bodytrack { border-bottom-color: @bodyTrack; }
    a.lastFM { border-bottom-color: @lastFM; }
    a.withings { border-bottom-color: @withings; }
    a.picasa { border-bottom-color: @picasa; }
    a.twitter { border-bottom-color: @twitter; }
    a.ggleCal { border-bottom-color: @ggleCal; }
}


// PATTERN :
// newConnector -> 
// .newConnector {border-bottom-color:@newConnectorColor}