    .fttIcon {background: transparent url(http://dev.fluxtream.com/1.0.0-r63/css/picto-sprite.png) no-repeat -33px 0; float: left; width: 30px; height: 30px;margin: 0 5px 0 0; }
    .fttContainer { float: left; overflow: hidden; height: 100%; }
    .fttTitle {font-size: 12px; color: #666;}
    .fttContent {font-size: 16px;}
