<div class="flx-widget-typo">
    <h4>Table</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Column name1</th> 
                <th>Column name2</th> 
                <th>Column name3</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>row1 data1</td>
                <td>row1 data2</td>
                <td>row1 data3</td>
            </tr>
            <tr>
                <td>row2 data1</td>
                <td>row2 data2</td>
                <td>row2 data3</td>
            </tr>
        </tbody> 
    </table>
    <h4>Table condensed</h4>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Colname1</th> 
                <th>Colname2</th> 
                <th>Colname3</th> 
                <th>Colname4</th> 
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>row1 data1</td>
                <td>row1 data2</td>
                <td>row1 data3</td>
                <td>row1 data4</td>
            </tr>
            <tr>
                <td>row2 data1</td>
                <td>row2 data2</td>
                <td>row2 data3</td>
                <td>row2 data4</td>
            </tr>
        </tbody> 
    </table>
</div>
