<div class="flx-widget-typo">
    <section class="main-widget-data">
        <div class="big-data-figure">1,234<span class="data-unit">unit</span></div>
    </section>
    <section class="side-widget-data">
        <div class="flx-dashBMisc flx-floater">
            <div class="flx-floatL">
                +12% <span>daily change</span>
            </div>
            <div class="flx-floatL">
                34 <span>bonus unit</span>
            </div>
            <div class="flx-floatL">
                5,678 <span>other unit</span>
            </div>
        </div>
    </section>
</div>