<div class="flx-widget-typo">
    <section class="main-widget-data">
        {{#weight}}
        <div class="big-data-figure">{{weight}}<span class="data-unit">{{unit}}</span></div>
        {{/weight}}
        {{#noMeasure}}
        <div class="big-data-figure"><span class="data-unit">(No Measure)</span></div>
        {{/noMeasure}}
    </section>
</div>