body { 
  background-color: #fff; 
  color: #333; 
  margin: 0px;
  padding: 0px;
  min-width: 800px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
//  line-height: 18px;
}

#title {
  text-align: center;
  margin: 0px auto;
  padding-top: 5px;
  font-size: 44pt;
  font-family: times;
}

#title #title_body {
  color: #fbcf01;
}

#title #title_track {
  color: #18b054;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
//a:hover { color: #fff; background-color:#000; }

#container {
  margin: 0px 20px 0px 20px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#user_nav {
  padding-top: 8px;
  float: right;
  font-size: 12px;
}

#user_change_nav {
  float: left;
  font-size: 12px;
}

#logdatepicker_container {
  width: 160px;
  float: right;
}

.clearing {
  clear: both;
  height: 1px;
}

.g2d-Surface canvas {
  border: 1px dotted black;
  border-radius: 0.5em;
}

#tabs {
  float: left;
}

#tabs ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  height: 32px;
  width: 100%;
}

#tabs ul li {
  float: left;
  margin: 0px;
  padding: 0px;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  position: relative;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

#tabs ul li a {
  text-decoration: none;
  display: block;
  padding: 0 20px;
  outline: none;
}

#tabs ul li a:hover {
  color: #000;
  background-color: #fff;
}

#tabs ul li.active a {
  color: #fff;
}

#tabs ul li.active, #tabs ul li.active a:hover {
  color: #fff;
  background-color: #18b054;
  border-bottom: 3px solid #fbcf01;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

#wrapper {
  border-top: 3px solid #aaa;
  padding-top: 15px;
}
