
/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

.photoViewFlow {
    display: inline-table;
    margin-left: 10px;
    margin-right: 10px;
}

.photoViewImage {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photoViewTags {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clickableLink {
    margin-left: 5px;
    margin-right: 5px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}

/* Items that show up below the grapher canvas itself and aid in adding
and removing channels */

.channelRemoveLink {
    border: 1px solid blue;
}

.channelLinkFlow {
    margin-left: 0.5em;
    margin-right: 1em;
    display: inline-table;
}

table.channelLinkFlow td {
    float: left;
    margin-right: 0.5em;
}

#graph table.gwt-DisclosurePanel {
    float: left;
    display: inline-table;
}

#graph table.gwt-DisclosurePanel a.header :hover {
    background: #EEF;
}

#currentChannelsWidget {
    min-height: 3em;
    margin-bottom: 0.75em;
}

.colorPopup {
    background-color: white;
}

.colorPopup td {
    padding: 0px;
    margin: 0px;
}

.colorPopup .colorPopup-colorButton {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    background-image: none;
}

#viewSwitchWidget div.gwt-PushButton, .savedViewPopup div.gwt-PushButton {
    border: 2px solid #DDD;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 5px;
    background: white;
    color: blue;
}

.savedViewPopup input.gwt-TextBox, .savedViewPopup div.gwt-PushButton,
        .savedViewPopup select.gwt-ListBox {
    margin: 3px;
    height: 1.2em;
    padding-top: 0em;
}

.savedViewPopup select.gwt-ListBox {
    width: 17em;
    height: auto;
    margin-top: 8px;
    background: white;
    color: darkBlue;
}

#viewSwitchWidget div.gwt-PushButton-down-hovering,
        .savedViewPopup div.gwt-PushButton-down-hovering {
    border: 2px outset black;
    background: #EEF;
}

.savedViewPopup a.gwt-Anchor:hover {
    background: #AAA;
}

.savedViewPopup a.currentViewName {
    text-decoration: none;
    color: blue;
}

.savedViewPopup a.currentViewName:hover {
    background: lightBlue;
}

