.flx-sourceFilters4 a.fitbit {
  border-bottom-color: #21b5cf;
}
.flx-sourceFilters4 a.bodytrack {
  border-bottom-color: #c79409;
}
.flx-sourceFilters4 a.lastfm {
  border-bottom-color: #fd4938;
}
.flx-sourceFilters4 a.withings {
  border-bottom-color: #16924e;
}
.flx-sourceFilters4 a.picasa {
  border-bottom-color: #8c2ebb;
}
.flx-sourceFilters4 a.twitter {
  border-bottom-color: #9233ef;
}
.flx-sourceFilters4 a.ggleCal {
  border-bottom-color: #92da46;
}
.flx-sourceFilters4 a.latitude {
  border-bottom-color: #5cae5c;
}
.flx-sourceFilters4 a.bodymedia {
  border-bottom-color: #ae5c5c;
}
.flx-sourceFilters4 a.zeo {
  border-bottom-color: #ffb200;
}
.flx-sourceFilters4 a.github {
  border-bottom-color: #cc6600;
}
.flx-sourceFilters4 a.grapher {
  border-bottom-color: #660033;
}
.flx-sourceFilters4 a.instagram {
  border-bottom-color: #666633;
}
.flx-sourceFilters4 a.sms {
  border-bottom-color: #336699;
}
.flx-sourceFilters4 a.quantifiedmind {
  border-bottom-color: #ff6633;
}
.flx-deviceIcon {
  background-size: 44px 1634px;
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  float: left;
  margin-right: 10px;
  background-image: url(../images/devices-ic.png);
}
.flx-deviceIcon.withings {
  background-position: 0 -1171px;
}
.flx-deviceIcon.fitbit {
  background-position: 0 -715px;
}
.flx-deviceIcon.twitter-tweet {
  background-position: 0 -123px;
}
.flx-deviceIcon.twitter-dm-in {
  background-position: 0 -417px;
}
.flx-deviceIcon.twitter-dm-out {
  background-position: 0 -461px;
}
.flx-deviceIcon.twitter-mention {
  background-position: 0 -502px;
}
.flx-deviceIcon.zeo-sleep {
  background-position: 0 0;
}
.flx-deviceIcon.calendar {
  background-position: 0 -254px;
}
.flx-deviceIcon.lastfm {
  background-position: 0 -84px;
}
.flx-deviceIcon.bm-sleep {
  background-position: 0 -630px;
}
.flx-deviceIcon.bm-steps {
  background-position: 0 -673px;
}
.flx-deviceIcon.bm-burn {
  background-position: 0 -588px;
}
.flx-deviceIcon.latitude {
  background-position: 0 -379px;
}
.flx-deviceIcon.picasa {
  background-position: 0 -42px;
}
.flx-deviceIcon.withings-blood_pressure {
  background-position: 0 -336px;
}
.flx-deviceIcon.withings-heart_pulse {
  background-position: 0 -336px;
}
.flx-deviceIcon.bodymedia-burn {
  background-position: 0 -588px;
}
.flx-deviceIcon.bodymedia-sleep {
  background-position: 0 -630px;
}
.flx-deviceIcon.bodymedia-steps {
  background-position: 0 -673px;
}
.flx-deviceIcon.fitbit-activity_summary {
  background-position: 0 -716px;
}
.flx-deviceIcon.fitbit-logged_activity {
  background-position: 0 -1137px;
}
.flx-deviceIcon.fitbit-sleep {
  background-position: 0 -1048px;
}
.flx-deviceIcon.fitbit-weight {
  background-position: 0 -1171px;
}
.flx-deviceIcon.fitbit-steps {
  background-position: 0 -1090px;
}
.flx-deviceIcon.flickr-photo {
  background-position: 0 -753px;
}
.flx-deviceIcon.instagram-photo {
  background-position: 0 -547px;
}
.flx-deviceIcon.smsbackup-call-log-in {
  background-position: 0 -170px;
}
.flx-deviceIcon.smsbackup-call-log-out {
  background-position: 0 -211px;
}
.flx-deviceIcon.github-push {
  background-position: 0 -1261px;
}
.flx-deviceIcon.quantifiedmind {
  background-position: 0 -1355px;
}
.flx-deviceIcon.grapher {
  background-position: 0 -1214px;
}
.flx-deviceIcon.bloodpressure {
  background-position: 0 -1306px;
}
.flx-deviceIcon.mymee-observation {
  background-position: 0 -1447px;
}
.flx-deviceIcon.runkeeper-fitnessActivity {
  background-position: 0 -1490px;
}
.flx-deviceIcon.evernote-note {
  background-position: 0 -1534px;
}
.flx-deviceIcon.fluxtream {
  background-position: 0 -1590px;
}
.flx-listItem .flx-box.twitter {
  border-left-color: #9233ef;
}
.flx-listItem .flx-box.bm {
  border-left-color: #c79409;
}
.flx-listItem .flx-box.picasa {
  border-left-color: #8c2ebb;
}
.flx-listItem .flx-box.fitbit {
  border-left-color: #21b5cf;
}
.flx-listItem .flx-box.calendar {
  border-left-color: #92da46;
}
.flx-listItem .flx-box.withings,
.flx-listItem .flx-box.blood-pressure {
  border-left-color: #16924e;
}
.flx-listItem .flx-box.lastfm {
  border-left-color: #fd4938;
}
.flx-listItem .flx-box.instagram {
  border-left-color: #666633;
}
.flx-listItem .flx-box.sms {
  border-left-color: #336699;
}
.flx-listItem .flx-box.grapher {
  border-left-color: #660033;
}
.flx-listItem .flx-box.quantifiedmind {
  border-left-color: #ff6633;
}
.flx-listItem .flx-box.github {
  border-left-color: #cc6600;
}
.flx-listItem .flx-box.runkeeper {
  border-left-color: #1875bb;
}
.flx-listItem .flx-box.evernote {
  border-left-color: #71b438;
}
.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  border: none;
}
.navbar {
  color: #999;
}
.navbar-inner {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  border: none;
}
.navbar .nav > li > a,
.navbar .nav > li > a:focus {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #999;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  outline: none;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: inherit;
  color: inherit;
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
}
.navbar .nav li.dropdown > a:focus .caret,
.navbar .nav li.dropdown > a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}
.navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.navbar .divider-vertical {
  background-color: #222;
  border-right: 1px solid #333;
  border-left: none;
}
small {
  font-size: 100%;
}
body {
  line-height: 18px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h4 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: inherit;
}
.btn {
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
}
.btn-group > .btn {
  font-size: 13px;
}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:focus > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > li > a:focus > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:focus > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"],
.dropdown-submenu:focus > a > [class*=" icon-"] {
  background-image: none;
}
::selection {
  background: #ffff9e;
}
::-moz-selection {
  background: #ffff9e;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
@media (max-width: 768px) {
  .flx-widget-typo .big-data-figure {
    font-size: 2em;
  }
  .flx-widget-typo .flx-dashBMisc div {
    font-size: 14px;
    text-align: left;
  }
}
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
  }
  .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    width: 99%;
  }
}
@media (min-width: 1200px) {
  .thumbnails {
    margin-left: -30px;
  }
  .thumbnails > li {
    margin-left: 30px;
  }
  .container-fluid {
    padding-right: 10px;
    padding-left: 10px;
    width: 99%;
  }
}
body {
  background-image: url('../../images/bg.gif');
  height: 100%;
  overflow-x: hidden;
  color: #333333;
}
html {
  height: 100%;
  overflow-x: hidden;
}
#content {
  position: relative;
  min-height: 94%;
}
* html #content {
  height: 100%;
}
#footer {
  position: relative;
  padding-bottom: 1em;
}
#footer hr {
  margin-top: 0;
}
.editor {
  background: grayLight;
}
.diaryTitle {
  width: 100%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
.map {
  height: 200px;
  background: blue;
}
.weather {
  height: 200px;
  background: red;
}
.breakdown {
  height: 200px;
  background: gray;
}
.clockimg {
  width: 100%;
}
.loading {
  display: none;
  padding-top: 4px;
  margin-right: 6px;
  float: right;
}
.addConnectorsMain #loading img {
  border: 0 !important;
  display: block;
  margin: 132px auto 0 !important;
  width: 32px;
  height: 32px;
}
#modals {
  display: none;
}
#tooltips {
  display: none;
}
#the_map {
  width: 100%;
}
#time-menu {
  display: inline;
  float: right;
}
div#currentTimespanLabel {
  display: inline-block;
  width: 250px;
  text-align: center;
  align: center;
}
div#currentTimespanLabel span {
  text-align: center;
  align: center;
}
.alert p {
  line-height: 0.7;
}
.alert h4 {
  padding-bottom: 7px;
}
.navbar-inner {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.statLabel {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.25em;
  margin: 10px;
}
.bigFigure {
  font-size: 2.25em;
  text-align: center;
  line-height: 1;
  margin: 10px;
}
.bigFigure small {
  font-size: 1em;
}
.statsWell {
  border-radius: 5px;
  background-color: #e2e2e2;
  min-height: 8em;
  position: relative;
}
.statsWell-inner {
  margin-top: 2em;
}
.emptyList {
  width: 100%;
  text-align: center;
  color: #333333;
}
/* icons */
*[class|='flx-icon'] {
  background-image: url('../images/icons.png');
  height: 20px;
  position: absolute;
  top: 4px;
  right: 4px;
}
.flx-spacer {
  margin-bottom: 5.5em;
}
.pagination {
  margin-top: 8px;
}
a.paginationLink {
  cursor: pointer;
}
.timeline-button {
  display: inline;
}
.application.active {
  display: block;
}
.application.dormant {
  position: fixed;
  top: 0px;
  margin-top: -1000px;
  height: 500px;
  overflow: hidden;
}
.tab.active {
  display: block;
}
.tab.dormant {
  position: fixed;
  top: 0px;
  margin-top: -1000px;
  height: 500px;
  overflow: hidden;
}
.fullwidth {
  width: 100%;
}
.leftAligned {
  width: 960px;
}
/* HACK: should "just work" as per the Twitter Bootstrap framework */
.nav-tabs > li {
  margin-bottom: -2px;
}
#mainCity span.ephemeris {
  font-size: 12px;
  color: #878787;
  line-height: 11px;
}
*[class|='flx-pict'] {
  background-image: url('../images/icons.png');
  background-size: 100px 20px;
  display: inline-block;
  height: 20px;
}
.flx-pict-temp {
  background-position: -51px -18px;
  width: 11px;
}
.flx-pict-moon {
  background-position: -162px -23px;
  width: 20px;
}
.flx-pict-sun {
  background-position: -79px -23px;
  width: 20px;
}
img {
  display: block;
}
a img {
  text-decoration: none;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.flx-clearfix:before,
.flx-clearfix:after {
  content: "";
  display: table;
}
.flx-clearfix:after {
  clear: both;
}
.flx-clearfix {
  *zoom: 1;
}
.flx-floatL {
  float: left;
}
.flx-floatR {
  float: right;
}
.flx-floater {
  overflow: hidden;
  height: 100%;
  zoom: 1;
}
.flx-widget {
  margin-bottom: 20px;
  max-height: 300px;
  min-height: 300px !important;
  overflow: hidden;
  border: 1px solid #ddddd9;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.flx-widget header {
  padding: 4px 9px;
  background: #eeeee9;
  *zoom: 1;
  border-bottom: 1px solid #ddddd9;
  color: #808080;
}
.flx-widget header .flx-widget-controls {
  float: right;
  font-size: 18px;
  padding-top: 3px;
}
.flx-widget header .flx-widget-controls a {
  margin-left: 5px;
}
.flx-widget header .flx-widget-controls a:hover {
  text-decoration: none;
}
.flx-widget .flx-body {
  padding: 9px;
}
.nav-tabs {
  background: #eeeee9;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
}
.nav-tabs > li > a:hover {
  padding-top: 8px;
  padding-bottom: 7px;
  line-height: 18px;
}
.flx-timeMenu {
  *zoom: 1;
}
.menuTodayButton {
  margin-right: 18px;
}
#currentTimespanLabel {
  width: 250px !important;
}
#currentTimespanLabel h3 {
  display: block;
  float: left;
  padding: 0 0 0 15px;
  margin-top: -2px;
  text-align: center;
}
.floater {
  float: left;
  margin-right: 20px;
  min-height: 31px;
  padding: 0 0;
}
.flx-main-city-infos {
  padding-top: 4px;
}
.flx-clockToolTipContainer {
  margin-top: 50px;
}
.flx-toolTipBody {
  width: 435px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.75);
  position: relative;
}
.strongBorder {
  border: 1px solid #0088cc;
}
.strongBorder-Right {
  border: 1px solid #0088cc;
  border-right-width: 4px;
}
.strongBorder-Left {
  border: 1px solid #0088cc;
  border-left-width: 4px;
}
.strongBorder-Bottom {
  border: 1px solid #0088cc;
  border-bottom-width: 4px;
}
.strongBorder-Top {
  border: 1px solid #0088cc;
  border-top-width: 4px;
}
.flx-toolTipLinks {
  position: absolute;
  list-style-type: none;
  width: 25%;
  margin-left: 0;
  top: 10px;
  right: 8px;
}
.flx-toolTipLinks li {
  text-align: right;
  line-height: 1.1em;
}
.flx-toolTipData {
  margin: 5px;
  background: #ffffff;
  overflow: hidden;
  padding: 8px 10px 10px 10px;
  position: relative;
  min-height: 45px;
  -webkit-box-shadow: 0 0px 4px rgba(80, 80, 80, 0.6);
  -moz-box-shadow: 0 0px 4px rgba(80, 80, 80, 0.6);
  -o-box-shadow: 0 0px 4px rgba(80, 80, 80, 0.6);
  box-shadow: 0 0px 4px rgba(80, 80, 80, 0.6);
}
/*
.flx-deviceIcon { background-size:44px 1240px; width: 42px; height: 42px; background-repeat: no-repeat; float:left; margin-right: 10px; background-image: url(../images/devices-ic.png);} 
.flx-deviceIcon.withings { background-position: 0 -1173px; }
.flx-deviceIcon.fitbit { background-position: 0 -1088px; }
.flx-deviceIcon.twitter-tweet { background-position: 0 -128px; }
.flx-deviceIcon.twitter-dm-in { background-position: 0 -421px; }
.flx-deviceIcon.twitter-dm-out { background-position: 0 -464px; }
.flx-deviceIcon.twitter-mention { background-position: 0 -508px; }
.flx-deviceIcon.zeo-sleep { background-position: 0 -4px; }
.flx-deviceIcon.calendar { background-position: 0 -255px; }
.flx-deviceIcon.lastfm { background-position: 0 -86px; }
.flx-deviceIcon.bm-sleep { background-position: 0 -632px; }
.flx-deviceIcon.bm-steps { background-position: 0 -675px; }
.flx-deviceIcon.bm-burn { background-position: 0 -588px; }
.flx-deviceIcon.latitude { background-position: 0 -355px; }
.flx-deviceIcon.picasa { background-position: 0 -924px; }
.flx-deviceIcon.withings-blood_pressure { background-position: 0 -339px; }
.flx-deviceIcon.withings-heart_pulse { background-position: 0 -339px; }
.flx-deviceIcon.bodymedia-burn { background-position: 0 -589px; }
.flx-deviceIcon.bodymedia-sleep { background-position: 0 -633px; }
.flx-deviceIcon.bodymedia-steps { background-position: 0 -673px; }
.flx-deviceIcon.fitbit-activity_summary { background-position: 0 -1088px; }
.flx-deviceIcon.fitbit-logged_activity { background-position: 0 -1131px; }
.flx-deviceIcon.fitbit-sleep { background-position: 0 -1050px; }
.flx-deviceIcon.flickr-photo { background-position: 0 -924px; }
.flx-deviceIcon.instagram-photo { background-position: 0 -924px; }
.flx-deviceIcon.smsbackup-call-log-in { background-position: 0 -840px; }
.flx-deviceIcon.smsbackup-call-log-out { background-position: 0 -799px; }
.flx-deviceIcon.github-push { background-position: 0 -799px; }

*/
/*
.flx-toolTipData .flx-data { max-width:270px; overflow:hidden; height: 100%;
    .flx-description { font-size: 14px; color:lighten(@black, 20%); }
    .flx-text {  }
}
.flx-toolTipData .flx-tTime { font-size: 16px; margin-bottom: 5px;
        span {color: lighten(@black, 40%); font-size:11px; text-transform: none;}
}
*/
.flx-miniGraph {
  float: left;
  margin-top: -20px;
}
.flx-toolTipContext {
  overflow: hidden;
  height: 100%;
  margin: 10px 5px 0;
  color: #666666;
}
.flx-toolTipContext h4 {
  font-size: 12px;
  font-weight: normal;
  min-height: 45px;
}
.flx-toolTipContext h4 span {
  font-size: 18px;
  font-weight: bold;
}
.flx-toolTipContext .flx-toolTipLocation {
  float: left;
  width: 50%;
  margin-right: 5px;
  color: #666666;
}
.flx-toolTipContext .flx-toolTipWeather {
  overflow: hidden;
  height: 100%;
}
.flx-toolTipContext .flx-toolTipWeather .weatherIcon {
  margin: 20px auto ;
  width: 100px;
  height: 110px;
}
.flx-toolTipContext .flx-toolTipWeather .flx-weatherDetails {
  color: #666666;
  font-size: 12px;
  list-style-type: none;
  padding: 0 !important;
  margin: 0 !important;
}
.flx-toolTipContext .flx-toolTipWeather .flx-weatherDetails li {
  width: 29.5%;
  float: left;
  border-right: 1px solid #666666;
  font-weight: normal;
  padding: 0 3px;
}
.flx-toolTipContext .flx-toolTipWeather .flx-weatherDetails li span {
  font-weight: bold;
}
.flx-toolTipContext .flx-toolTipWeather .flx-weatherDetails li:last-child {
  border-right: 0;
}
.flx-toolTipTail {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}
.flx-toolTipTail-Bottom {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 10px solid #0088cc;
  bottom: -24px;
}
.flx-toolTipTail-Top {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #0088cc;
  top: -24px;
}
.flx-toolTipTail-Right {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid #0088cc;
  right: -24px;
}
.flx-toolTipTail-Left {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 10px solid #0088cc;
  left: -24px;
}
.flx-sourceFilters4 {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
  margin-left: 0;
}
.flx-sourceFilters4 li {
  float: left;
  border-right: 1px solid #ffffff;
}
.flx-sourceFilters4 li a,
.flx-sourceFilters4 li span {
  color: #808080;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 10px 0;
  background: #fff;
  position: relative;
  width: 81px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.flx-sourceFilters4 li a:after,
.flx-sourceFilters4 li span:after {
  content: '';
  width: 0;
  height: 11px;
  border-right: 1px solid #e6e6e6;
  position: absolute;
  top: 13px;
  right: -1px;
}
.flx-sourceFilters4 li .flx-active {
  border-bottom-width: 4px;
  padding-bottom: 7px;
  color: #808080;
}
.flx-sourceFilters4 li a.flx-disconnected {
  border-bottom-color: #b3b3b3;
  color: #b3b3b3;
  cursor: default;
  border-bottom-width: 1px;
  padding-bottom: 10px;
}
.flx-sourceFilters4 li a:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}
.flx-sourceFilters4 li:last-child a:after,
.flx-sourceFilters4 li:last-child a:after {
  border-right: 0;
}
.manageConnectors .modal-body {
  padding: 0 0px 0 10px;
}
.synchAll {
  width: 100%;
  background: #eeeee9;
  overflow: hidden;
  height: 100%;
}
.synchAll span {
  display: block;
  padding: 10px;
  float: right;
}
.renew span {
  margin-top: 18px;
}
table .syncStatus,
table .remove,
table .renew,
table .connectors {
  text-align: center;
}
td.syncStatus {
  vertical-align: middle;
}
td.syncStatus span {
  display: block;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), inset 0 1px 2px rgba(255, 255, 255, 0.7);
}
td.syncStatus .syncLED-yes {
  background: #76d323;
}
td.syncStatus .syncLED-no {
  background: #ff3030;
}
td.syncStatus .syncLED-waiting {
  border: 0;
  width: 35px;
  height: 35px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none ;
}
.syncStatus.small span {
  width: 15px;
  height: 15px;
}
td.connectors {
  text-align: center;
  padding: 0;
}
td.connectors img {
  margin: 0 auto;
}
.lastSync p,
.latestData p,
.remove i {
  padding-top: 18px;
}
table .remove {
  text-align: center;
}
table .remove i {
  font-size: 20px;
}
.flx-tableSepar td {
  height: 1px;
  background: #eeeee9;
  padding: 2px 0;
}
.nowSynchro .lastSync p {
  font-style: italic;
  font-weight: bold;
}
.nowSynchro .lastSync a,
.nowSynchro .lastSync span {
  color: #808080;
}
.load-view-subMenu {
  min-width: 350px;
}
.load-view-subMenu li ul li {
  padding: 0;
}
.load-view-subMenu .view-id {
  width: 60%;
}
.load-view-subMenu .view-id a > * {
  white-space: normal;
  margin: 0;
  padding: 0;
}
.load-view-subMenu .view-filters {
  text-align: right;
  line-height: 1em;
  list-style: none;
}
.load-view-subMenu .view-filters a {
  color: #07900c;
  display: inline;
}
.load-view-subMenu .view-filters a:hover {
  color: #07900c;
  background: #ffffff;
  text-decoration: underline;
}
.save-view-subMenu .dropdown-menu {
  min-width: 316px;
}
.save-view-subMenu .dropdown-menu form,
.save-view-subMenu .dropdown-menu h5 {
  padding: 3px 15px;
  margin: 0;
}
.save-view-subMenu .dropdown-menu a.btn {
  display: inline-block;
  margin-top: -8px;
}
.save-view-subMenu .dropdown-menu a > * {
  white-space: normal;
}
.save-view-subMenu .dropdown-menu a.savedView:hover {
  background-color: #b3e065;
  color: inherit;
}
.flx-channel-navigation .btn {
  padding-left: 13px;
  padding-right: 12px;
}
.flx-channel {
  width: 235px;
  overflow: hidden;
  height: 100%;
  zoom: 1;
  background: #eeeee9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@hd-bg-color,10%)', endColorstr='@hd-bg-color');
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeee9));
  background: -moz-linear-gradient(top, #ffffff, #eeeee9);
}
.flx-channel div {
  float: left;
}
.flx-channel .flx-channel-tab {
  width: 235px;
}
.flx-channel .flx-remove-channel {
  padding: 0;
  font-size: 20px;
}
.flx-channel .flx-remove-channel a {
  color: #b3b3b3;
}
.flx-channel .flx-remove-channel a:hover {
  color: #666666;
  text-decoration: none;
}
.flx-channel .flx-channel-name {
  padding: 0;
  overflow: hidden;
  text-shadow: 1px 1px #ffffff;
  width: 180px;
  max-width: 180px;
}
.flx-channel .flx-channel-name h4 {
  font-size: 18px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flx-channel .flx-channel-name p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flx-channel .flx-channel-name-nodeletebutton {
  padding: 0 0 0 5px;
  overflow: hidden;
  text-shadow: 1px 1px #ffffff;
  width: 200px;
  max-width: 200px;
}
.flx-channel .flx-channel-name-nodeletebutton h4 {
  font-size: 18px;
  color: #808080;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flx-channel .flx-channel-name-nodeletebutton p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flx-channel .flx-channel-controls {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.flx-channel .flx-channel-controls li {
  list-style-type: none;
  text-align: right;
  font-size: 20px;
  line-height: 22px;
}
.flx-channel .flx-channel-controls a {
  color: #b3b3b3;
}
.flx-channel .flx-channel-controls a i {
  text-shadow: 1px 1px #ffffff;
}
.flx-channel .flx-channel-controls a:hover {
  color: #666666;
  text-decoration: none;
}
.flx-channel .flx-channel-filter {
  font-size: 8pt;
  font-style: italic;
  color: #aaaaaa;
}
#dashboardsTab .nav-tabs {
  position: absolute;
  bottom: -10px;
  right: 10px;
  left: 10px;
}
#dashboardsTab .nav-tabs li:first-child {
  position: absolute;
  right: 10px;
  top: 10px;
}
#dashboardsTab .nav li button {
  margin-top: -5px;
}
.tabs-below .nav-tabs {
  background-color: #FFF;
}
.manage-dashboard {
  position: absolute;
  right: 10px;
  bottom: 30px;
  width: 432px;
}
.manage-dashboard form {
  padding: 0;
}
.dashboard-list-header {
  padding: 10px 3px 10px 16px;
  overflow: hidden;
}
.dashboard-list-header .setName input {
  margin-right: -4px;
}
.facetDetails {
  overflow: hidden;
  height: 100%;
}
.facetDetails.many {
  margin-bottom: 10px;
}
.facet-comment-text {
  margin-top: 10px;
  font-style: italic;
  color: gray;
}
.facet-comment textarea {
  width: 90%;
  margin-top: 10px;
  background-color: lightyellow;
}
.dashboard-list-item {
  overflow: hidden;
  zoom: 1;
  border: 1px solid #ddddd9;
  margin-bottom: -1px;
  border-left: 0;
  border-right: 0;
  padding: 10px 10px 10px 15px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.dashboard-list-item i {
  font-size: 16px;
  line-height: 1;
  padding: 0;
}
.dashboard-list-item .reorder {
  float: left;
  width: 60px;
  opacity: 0.3;
  cursor: pointer;
}
.dashboard-list-item .reorder .up,
.dashboard-list-item .reorder .down {
  padding-right: 5px;
}
.dashboard-list-item a:hover i {
  text-decoration: none;
}
.dashboard-list-item .dashboard-list-item-name {
  float: left;
  width: 380px;
  font-size: 14px;
}
.dashboard-list-item .remove {
  float: left;
  opacity: 0.3;
  cursor: pointer;
}
.dashboard-rename {
  width: 150px;
}
.dashboards-list {
  height: 300px;
  width: 430px;
  background: #ffffff;
  margin: 0;
}
.dashboard-list-item:hover {
  background-color: #e6f7ff;
}
.dashboard-list-item:hover .reorder,
.dashboard-list-item:hover .remove {
  opacity: 1;
}
.set-dashboards {
  border-top: 1px solid #ddddd9;
  overflow: hidden;
  padding: 10px 0 10px 16px;
}
.set-dashboards .addOrRemove {
  float: left;
  margin-right: 10px;
}
.set-device {
  width: 100%;
}
.set-device .set-device-header {
  padding: 10px 0 10px 5px;
}
.set-device .flx-channel-table td:first-child {
  width: 50px;
}
.set-device .flx-channel-table input[type=checkbox] {
  margin-top: 0;
}
.set-device .flx-channel-table label {
  white-space: nowrap;
  font-size: 14px;
}
.set-device .flx-channel-table .description {
  color: #a6a6a6;
  line-height: 21px;
}
.flx-nav-list {
  font-size: 14px;
}
.flx-listItem .flx-box {
  overflow: hidden;
  height: 100%;
  padding: 15px 15px;
  border: 1px solid #e5e5e5;
  border-left-width: 5px;
  margin-bottom: 5px;
  max-width: 693px;
  border-radius: 3px;
}
.flx-listItem .flx-box .flx-data {
  clear: left;
  max-width: 250px;
  padding-left: 0px;
}
.flx-listItem .flx-box .flx-deviceIcon,
.flx-listItem .flx-box .flx-tTime,
.flx-listItem .flx-box .flx-tRange {
  float: left;
}
.flx-listItem .flx-box .flx-tTime {
  padding: 0 13px 0 0px;
  min-width: 62px;
  height: 22px;
  font-size: 15px;
}
.flx-listItem .flx-box .flx-tTime span {
  color: #999999;
  font-size: 11px;
  text-transform: none;
}
.flx-listItem .flx-box .flx-tRange {
  color: #cccccc;
  font-size: 14px;
  text-transform: none;
  padding: 0 13px 0 10px;
  min-width: 62px;
  height: 42px;
}
.flx-listItem .flx-box .flx-tRange span {
  display: block;
}
.flx-listItem .flx-box .flx-tRange span span {
  font-size: 15px;
  color: #333333;
  display: inline;
}
.flx-listItem .flx-box .flx-description {
  overflow: hidden;
  height: 100%;
  color: #666666;
  display: block;
  max-width: 450px;
}
.flx-listItem .flx-box .flx-description span {
  font-weight: bold;
  font-size: 14px;
}
.flx-listItem .flx-box .flx-more {
  color: #999999;
}
.flx-toolTipData .flx-box .flx-data {
  clear: left;
  max-width: 250px;
  padding-left: 10px;
}
.flx-toolTipData .flx-box .flx-deviceIcon,
.flx-toolTipData .flx-box .flx-tTime,
.flx-toolTipData .flx-box .flx-tRange {
  float: left;
}
.flx-toolTipData .flx-box .flx-tTime {
  padding: 0 13px 0 10px;
  min-width: 62px;
  height: 26px;
  font-size: 15px;
}
.flx-toolTipData .flx-box .flx-tTime span {
  color: #999999;
  font-size: 11px;
  text-transform: none;
}
.flx-toolTipData .flx-box .flx-tRange {
  color: #cccccc;
  font-size: 14px;
  text-transform: none;
  padding: 0 13px 0 10px;
  min-width: 62px;
  height: 42px;
}
.flx-toolTipData .flx-box .flx-tRange span {
  display: block;
}
.flx-toolTipData .flx-box .flx-tRange span span {
  font-size: 15px;
  color: #333333;
  display: inline;
}
.flx-toolTipData .flx-box .flx-description {
  color: #666666;
  display: block;
  max-width: 450px;
}
.flx-toolTipData .flx-box .flx-description span {
  font-weight: bold;
  font-size: 14px;
}
.flx-toolTipData .flx-box .flx-more {
  color: #999999;
}
/*
.flx-listItem .flx-box.twitter { border-left-color: @twitter; }
.flx-listItem .flx-box.bm { border-left-color: @bodyTrack; }
.flx-listItem .flx-box.picasa { border-left-color: @picasa; }
.flx-listItem .flx-box.fitbit { border-left-color: @fitbit; }
.flx-listItem .flx-box.calendar { border-left-color: @ggleCal; }
.flx-listItem .flx-box.withings { border-left-color: @withings; }
.flx-listItem .flx-box.lastfm { border-left-color: @lastFM; }
.flx-listItem .flx-box.bodymedia { border-left-color: @bodymedia; }
*/
.flx-listItem .gathered {
  padding-bottom: 0;
}
.flx-listItem .gathered.closed {
  height: 52px;
}
.flx-dataLabel {
  font-size: 12px;
  color: #878787;
  line-height: 11px;
  display: inline;
}
.flx-text {
  font-size: 14px;
  color: #333333;
  line-height: 12px;
}
.flx-widget-typo {
  color: #666666;
}
.flx-widget-typo .main-widget-data {
  position: relative;
  height: 223px;
}
.flx-widget-typo .big-data-figure {
  position: absolute;
  top: 50px;
  left: 0;
  color: #999999;
  font-size: 4em;
  width: 100%;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
  overflow: hidden;
  line-height: 1;
  padding-bottom: 0.5em;
}
.flx-widget-typo .big-data-figure span {
  font-size: 0.5em;
  font-weight: normal;
}
.flx-widget-typo .flx-dashBMisc div {
  font-size: 16px;
  color: #0088cc;
  width: 33%;
  text-align: center;
}
.flx-widget-typo .flx-dashBMisc div span {
  font-size: 0.8em;
  color: #959576;
}
.flx-widget-typo .flx-widgetMessage {
  padding: 10px 10px 0;
  border-style: solid;
  border-width: 1px;
  margin: 0 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.flx-widget-typo .flx-widgetError {
  border-color: #b94a48;
  color: #b94a48;
  background-color: #f2dede;
}
.flx-widget-typo .flx-widgetWarning {
  border-color: #c09853;
  color: #c09853;
  background-color: #f3edd2;
}
.flx-widget-typo .flx-widgetSuccess {
  border-color: #468847;
  color: #468847;
  background-color: #dff0d8;
}
.flx-credits {
  float: left;
  margin-right: 30px;
}
.feedback-call {
  height: 100%;
  float: right;
  margin-right: 25px;
}
.anne,
.bubbles,
.candide {
  float: left;
}
.anne,
.candide {
  background: url(../images/spriteAandC.png) no-repeat 0 0;
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.candide {
  background-position: 0px -40px;
}
.bubbles {
  padding: 0 12px 0 15px;
  margin-top: -14px;
}
.bubbles .bubble1,
.bubbles .bubble2 {
  position: relative;
}
.bubbles .bubble1 p,
.bubbles .bubble2 p {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #21b5cf;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 0 5px;
  font-weight: 400;
}
.bubbles .bubble1 p a,
.bubbles .bubble2 p a {
  color: navy;
}
.bubbles .bubble1 .tail,
.bubbles .bubble2 .tail {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
}
.bubbles .bubble1 p {
  width: 133px;
}
.bubbles .bubble2 p {
  margin-left: 20px;
}
.bubbles .bubble1 .tail {
  border-right-color: #21b5cf;
  left: -17px;
  border-bottom-width: 0;
}
.bubbles .bubble2 .tail {
  border-left-color: #21b5cf;
  right: -17px;
  border-top-width: 0;
}
.flx-sourceFilters1 {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
.flx-sourceFilters1 li {
  float: left;
  border-right: 1px solid transparent;
  padding-bottom: 20px;
}
.flx-sourceFilters1 li a,
.flx-sourceFilters1 li span {
  color: #4d4d4d;
  border-bottom: 1px solid #808080;
  padding: 10px 10px;
  background: #fff;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.flx-sourceFilters1 li .flx-active {
  border-bottom-width: 4px;
  padding-bottom: 7px;
  color: #4d4d4d;
}
.flx-sourceFilters1 li .flx-disconnected {
  border-bottom-color: #cccccc;
  color: #cccccc;
  cursor: default;
}
.flx-sourceFilters1 li a:hover {
  text-decoration: none;
  border-bottom-width: 4px;
  padding-bottom: 7px;
}
.flx-sourceFilters1 a.fitbit {
  border-bottom-color: #21b5cf;
}
.flx-sourceFilters1 a.bodytrack {
  border-bottom-color: #c79409;
}
.flx-sourceFilters1 a.lastFM {
  border-bottom-color: #fd4938;
}
.flx-sourceFilters1 a.withings {
  border-bottom-color: #16924e;
}
.flx-sourceFilters1 a.picasa {
  border-bottom-color: #8c2ebb;
}
.flx-sourceFilters1 a.twitter {
  border-bottom-color: #9233ef;
}
.flx-sourceFilters1 a.ggleCal {
  border-bottom-color: #92da46;
}
.flx-sourceFilters2 {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
.flx-sourceFilters2 li {
  float: left;
  border-right: 1px solid transparent;
  font-size: 11px;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}
.flx-sourceFilters2 li a,
.flx-sourceFilters2 li span {
  color: #808080;
  border-bottom: 1px solid #808080;
  padding: 10px 10px;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.flx-sourceFilters2 li a:after,
.flx-sourceFilters2 li span:after {
  content: '';
  width: 0;
  height: 11px;
  border-right: 1px solid #e6e6e6;
  position: absolute;
  top: 10px;
  right: -1px;
}
.flx-sourceFilters2 li a.ggleCal:after {
  border-right: 0;
}
.flx-sourceFilters2 li .flx-active {
  border-bottom-width: 4px;
  padding-bottom: 7px;
  color: #4d4d4d;
}
.flx-sourceFilters2 li .flx-disconnected {
  border-bottom-color: #cccccc;
  color: #cccccc;
  cursor: default;
}
.flx-sourceFilters2 li a:hover {
  text-decoration: none;
  border-bottom-width: 4px;
  padding-bottom: 7px;
}
.flx-sourceFilters2 a.fitbit {
  color: #21b5cf;
  border-bottom-color: #21b5cf;
}
.flx-sourceFilters2 a.bodytrack {
  color: #c79409;
  border-bottom-color: #c79409;
}
.flx-sourceFilters2 a.lastFM {
  color: #fd4938;
  border-bottom-color: #fd4938;
}
.flx-sourceFilters2 a.withings {
  color: #16924e;
  border-bottom-color: #16924e;
}
.flx-sourceFilters2 a.picasa {
  color: #8c2ebb;
  border-bottom-color: #8c2ebb;
}
.flx-sourceFilters2 a.twitter {
  color: #9233ef;
  border-bottom-color: #9233ef;
}
.flx-sourceFilters2 a.ggleCal {
  color: #92da46;
  border-bottom-color: #92da46;
}
.flx-sourceFilters3 {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
.flx-sourceFilters3 li {
  float: left;
  border-right: 1px solid transparent;
  letter-spacing: 0.1em;
  padding-bottom: 20px;
}
.flx-sourceFilters3 li a,
.flx-sourceFilters3 li span {
  color: #808080;
  border-bottom: 1px solid #808080;
  padding: 15px 15px;
  background: #fff;
  overflow: hidden;
  text-align: center;
  width: 65px;
  display: block;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.flx-sourceFilters3 li .flx-active {
  border-bottom-width: 4px;
  padding-bottom: 12px;
  color: #4d4d4d;
  text-shadow: 0 0 5px #4dc3ff;
}
.flx-sourceFilters3 li .flx-disconnected {
  border-bottom-color: #cccccc;
  color: #cccccc;
  cursor: default;
}
.flx-sourceFilters3 li a:hover {
  text-decoration: none;
  border-bottom-width: 4px;
  padding-bottom: 12px;
}
.flx-sourceFilters3 a.fitbit {
  color: #0088cc;
  border-bottom-color: #0088cc;
}
.flx-sourceFilters3 a.bodytrack {
  color: #0077b3;
  border-bottom-color: #0077b3;
}
.flx-sourceFilters3 a.lastFM {
  color: #006699;
  border-bottom-color: #006699;
}
.flx-sourceFilters3 a.withings {
  color: #005580;
  border-bottom-color: #005580;
}
.flx-sourceFilters3 a.picasa {
  color: #004466;
  border-bottom-color: #004466;
}
.flx-sourceFilters3 a.twitter {
  color: #0099e6;
  border-bottom-color: #0099e6;
}
.flx-sourceFilters3 a.ggleCal {
  color: #1ab2ff;
  border-bottom-color: #1ab2ff;
}
.flx-sourceFilters5 {
  list-style-type: none;
  overflow: hidden;
  height: 100%;
}
.flx-sourceFilters5 li {
  float: left;
  border-right: 1px solid transparent;
  padding-bottom: 20px;
}
.flx-sourceFilters5 li a,
.flx-sourceFilters5 li span {
  color: #808080;
  border-bottom: 1px solid #808080;
  padding: 10px 10px;
  background: #fff;
  position: relative;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.flx-sourceFilters5 li a:after,
.flx-sourceFilters5 li span:after {
  content: '';
  width: 0;
  height: 11px;
  border-right: 1px solid #e6e6e6;
  position: absolute;
  top: 10px;
  right: -1px;
}
.flx-sourceFilters5 li a.ggleCal:after {
  border-right: 0;
}
.flx-sourceFilters5 li .flx-active {
  border-bottom-width: 4px;
  padding-bottom: 7px;
  color: #4d4d4d;
}
.flx-sourceFilters5 li .flx-disconnected {
  border-bottom-color: #cccccc;
  color: #cccccc;
  cursor: default;
}
.flx-sourceFilters5 li a:hover {
  text-decoration: none;
  border-bottom-width: 4px;
  padding-bottom: 7px;
}
.flx-sourceFilters5 a.fitbit {
  color: #21b5cf;
  border-bottom-color: #21b5cf;
}
.flx-sourceFilters5 a.bodytrack {
  color: #c79409;
  border-bottom-color: #c79409;
}
.flx-sourceFilters5 a.lastFM {
  color: #fd4938;
  border-bottom-color: #fd4938;
}
.flx-sourceFilters5 a.withings {
  color: #16924e;
  border-bottom-color: #16924e;
}
.flx-sourceFilters5 a.picasa {
  color: #8c2ebb;
  border-bottom-color: #8c2ebb;
}
.flx-sourceFilters5 a.twitter {
  color: #9233ef;
  border-bottom-color: #9233ef;
}
.flx-sourceFilters5 a.ggleCal {
  color: #92da46;
  border-bottom-color: #92da46;
}
#filtersContainer {
  margin-top: -17px;
}
.flx-sourceFilters6 {
  list-style-type: none;
}
.flx-sourceFilters6 li {
  float: left;
  border-right: 1px solid transparent;
  font-size: 11px;
  letter-spacing: 0.1em;
}
.flx-sourceFilters6 li a,
.flx-sourceFilters6 li span {
  color: #808080;
  border-bottom: 1px solid #808080;
  padding: 10px 0;
  background: #fff;
  position: relative;
  width: 70px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.flx-sourceFilters6 li a:after,
.flx-sourceFilters6 li span:after {
  content: '';
  width: 0;
  height: 11px;
  border-right: 1px solid #e6e6e6;
  position: absolute;
  top: 13px;
  right: -1px;
}
.flx-sourceFilters6 li .flx-active {
  border-bottom-width: 4px;
  padding-bottom: 7px;
  color: #808080;
}
.flx-sourceFilters6 li .flx-disconnected {
  border-bottom-color: #cccccc;
  color: #cccccc;
  cursor: default;
}
.flx-sourceFilters6 li a:hover {
  text-decoration: none;
  background-color: #f2f2f2;
}
.flx-sourceFilters6 li:last-child a:after,
.flx-sourceFilters6 li:last-child a:after {
  border-right: 0;
}
#sharedConnectors {
  min-height: 200px;
}
.loading-animation {
  border: none;
  width: 20px;
  height: 20px;
  display: none;
  margin: 0 0 7px 14px;
}
#removeCoachButton {
  float: left;
  margin-left: 10px;
}
#coachesDropdown {
  float: left;
}
