
@black: #17ffff ;

body {
	background: #eaf4fa;
	margin: 0 auto;
}

.editor {
	background: grayLight;
}

.diaryTitle {
	width: 100%;
	margin-bottom: 60px;
}

.clock {
	background: grey;
	height: 305px;
}

.timelines {
	background: blue;
	height: 305px;
}

.map { height: 200px; background: blue; }
.weather { height: 200px; background: red; }
.breakdown { height: 200px; background: gray; }