
/* CORE */

.application.active {
    display: block;
}

.application.dormant {
    display: none;
}

/* END CORE */

 /*JULIEN */
/*.container-narrow {*/
  /*margin: 0 auto;*/
  /*max-width: 700px;*/
  /*padding: 20px;*/
/*}*/

/*.container-narrow > hr {*/
  /*margin: 30px 0;*/
/*}*/

/*.picture-wrapper {*/
  /*width: 100%;*/
  /*margin-bottom: 20px;*/
  /*min-height: 60px;*/
/*}*/

/*.picture-image {*/
  /*float: left;*/
  /*margin-right: 10px;*/
  /*width: 50%;*/
/*}*/

/*.picture-info {*/
  /*margin-top: 5px;*/
/*}*/
/* END JULIEN */

/* SETTINGS */

body {
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav.nav-stacked {
    padding: 0 20%;
}

/* END SETTINGS */

/* MAIN MENU AND NAVIGATION*/

/* Extra markup and styles for table-esque vertical and horizontal centering */


.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    /*margin-top: 20%;*/
    margin-right: auto;
    margin-left: auto;
}

/* Start the vertical centering */
.site-wrapper-inner {
    vertical-align: middle;
}
/* Handle the widths */
.cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.navbar-text.app-name {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    width: 100%;
}

.sireg-form-wrapper {
   /* padding: 0 35px;*/
}

body {
    /*padding-top: 70px;*/
}

a {
    cursor: pointer;
}
/* END MAIN MENU AND NAVIGATION */

.logo {
  background: transparent url(../images/logo-fluxtream@2x.png) no-repeat center center;
  min-height: 40px;
  width: 200px;
  margin: 0 0 20px -3px;
  background-size: 100%;
}

dd { 
  margin-bottom: 1rem;
}
dl  {  margin-bottom: 0;}
