<div class="flx-widget-typo">
    
    <div class="flx-widgetMessage flx-widgetError">
        <h4>Caution!</h4>
        <p>This is a widget message to warn the user of something which doesn't work!</p>
    </div>
    <div class="flx-widgetMessage flx-widgetWarning">
        <h4>Your attention please</h4>
        <p>This is a widget message to drag the attention of the user on something that might be important.</p>
    </div>
    <div class="flx-widgetMessage flx-widgetSuccess">
        <h4>Everything is ok</h4>
        <p>This is a widget message to give the user a positive feedback.</p>
    </div>

</div>
