Hi ${username},

Someone requested that your Fluxtream.com password be reset.

If this wasn't you, there's nothing to worry about - simply ignore this email and nothing will change.

If you DID ask to reset the password on your Fluxtream account, just click here to make it happen:

${homeBaseUrl}support/resetPassword?token=${token}

Thanks,

The Fluxtream Team
