<div class="flx-widget-typo">
    <section class="main-widget-data">
        {{#steps}}
        <div class="big-data-figure">{{steps}}<span class="data-unit">steps</span></div>
        {{/steps}}
        {{#noMeasure}}
        <div class="big-data-figure"><span class="data-unit">{{noMeasureMsg}}</span></div>
        {{/noMeasure}}
    </section>
</div>