<div id="stepsHistoryNumberAxis" style="width: 33%; height:250px; position:fixed; opacity:0; left: -5000px"></div>
<div id="stepsHistoryDateAxis" style="width: 33%; height:250px; position:fixed; opacity:0; left: -5000px"></div>
<div id="stepsHistroyGraph" style="height:250px"></div>
