<div>
    <div id="stepsHistoryNumberAxis" style="width: 427px; height:100px; position:absolute; opacity:0;"></div>
    <div id="stepsHistoryDateAxis" style="width: 427px; height:100px; position:absolute; opacity:0;"></div>
    <div id="stepsHistroyGraph" style="height:100px"></div>
</div>
