<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- 	<appender name="syslog" class="org.apache.log4j.net.SyslogAppender"> -->
<!-- 		<param name="Facility" value="Local2" /> -->
<!-- 		<param name="SyslogHost" value="localhost" /> -->
<!-- 		<param name="FacilityPrinting" value="true"/> -->
<!-- 		<param name="Threshold" value="INFO" /> -->
<!-- 		<layout class="org.apache.log4j.PatternLayout"> -->
<!-- 			<param name="ConversionPattern" value="%d - %m%n" /> -->
<!-- 		</layout> -->
<!-- 	</appender> -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<!-- Pattern to output the caller's file name and line number -->
			<param name="ConversionPattern" value="%5p [%t] (%F:%L) - %m%n" />
		</layout>
	</appender>
	<appender name="R" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/all.log" />
		<param name="MaxFileSize" value="10000KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<appender name="Q" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/quartz.log" />
		<param name="MaxFileSize" value="10000KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<appender name="F" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="logs/fluxtream.log" />
		<param name="MaxFileSize" value="10000KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %m%n" />
		</layout>
	</appender>
	<logger name="com.fluxtream.Logs">
		<level value="info" />
		<appender-ref ref="F" />
	</logger>
	<logger name="com.fluxtream.quartz">
		<level value="info" />
		<appender-ref ref="Q" />
	</logger>
	<root>
		<level value="info" />
		<appender-ref ref="R" />
		<appender-ref ref="stdout" />
<!-- 		<appender-ref ref="syslog" /> -->
	</root>

</log4j:configuration>