<template id="viewsList">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Last used</th>
        <th>Time range</th>
        <th>Delete</th>
    </tr>
    </thead>
    {{#list}}

        <tr>
            <td> <a href="/app/bodytrack/grapher/view/{{id}}" id="load-view-{{id}}">{{name}}</a></td>
            <td>{{description}}</td>
            <td>{{last_used}}</td>
            <td>{{#time_range}}{{min}} - {{max}}{{/time_range}}</td>
            <td><button style="background-color:transparent;border:none;" class="icon-trash icon-large" id="delete-view-{{id}}"></button></td>
        </tr>

    {{/list}}
    </table>
</template>