<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="viewResolver"
          class="org.fluxtream.core.mvc.view.UrlBasedViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- maximum file size in bytes: thats 100Mb -->
        <property name="maxUploadSize" value="104857600"/>
    </bean>

    <import resource="classpath:org/fluxtream/core/applicationContext.xml" />
	<import resource="spring-aspects.xml" />
    <import resource="spring-quartz.xml" />

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean" 
          p:resourceLoaderPath="classpath:/org/fluxtream/mvc/controllers"
          p:preferFileSystemAccess="false"/>

	<context:spring-configured />
	<context:annotation-config />
	<context:component-scan base-package="org.fluxtream" />

	<bean id="jmxExporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="beans">
			<map>
				<entry key="Hibernate:application=Statistics" value-ref="hibernateStatisticsBean" />
			</map>
		</property>
	</bean>
	<bean id="hibernateStatisticsBean" class="org.hibernate.jmx.StatisticsService">
        <property name="statisticsEnabled">
            <value>true</value>
        </property>
		<property name="sessionFactory">
			<util:property-path path="entityManagerFactory.sessionFactory" />
		</property>
	</bean>
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
                <value>classpath:lastcommit.properties</value>
                <value>classpath:common.properties</value>
				<value>classpath:local.properties</value>
			</list>
		</property>
	</bean>

	<bean id="guestService" class="org.fluxtream.core.services.impl.GuestServiceImpl" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="i18n.messages" />
	</bean>

	<util:properties id="countries" location="classpath:countries.properties"/>
   	<bean id="autoReloadStrategy" class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"></bean>

    <bean id="commonProperties" class="org.apache.commons.configuration.PropertiesConfiguration">
        <property name="reloadingStrategy" ref="autoReloadStrategy"/>
        <constructor-arg value="common.properties"/>
    </bean>
    <bean id="lastCommitProperties" class="org.apache.commons.configuration.PropertiesConfiguration">
        <property name="reloadingStrategy" ref="autoReloadStrategy"/>
        <constructor-arg value="lastcommit.properties"/>
    </bean>
    <bean id="targetEnvProperties" class="org.apache.commons.configuration.PropertiesConfiguration">
		<property name="reloadingStrategy" ref="autoReloadStrategy"/>
		<constructor-arg value="${TARGET_ENV}.properties"/>
   	</bean>
	<bean id="connectorsProperties" class="org.apache.commons.configuration.PropertiesConfiguration">
		<property name="reloadingStrategy" ref="autoReloadStrategy"/>
		<constructor-arg value="connectors.properties"/>
   	</bean>
	<bean id="oauthProperties" class="org.apache.commons.configuration.PropertiesConfiguration">
		<property name="reloadingStrategy" ref="autoReloadStrategy"/>
		<constructor-arg value="oauth.properties"/>
   	</bean>
	<bean id="bodytrackProperties" class="org.apache.commons.configuration.PropertiesConfiguration">
		<property name="reloadingStrategy" ref="autoReloadStrategy"/>
		<property name="listDelimiter" value="0"/>
		<constructor-arg value="bodytrack.properties"/>
   	</bean>
	
	<bean class="org.fluxtream.core.Configuration">
        <property name="lastCommitProperties" ref="lastCommitProperties"/>
        <property name="commonProperties" ref="commonProperties"/>
		<property name="targetEnvProperties" ref="targetEnvProperties"/>
		<property name="connectorsProperties" ref="connectorsProperties"/>
		<property name="oauthProperties" ref="oauthProperties"/>
		<property name="countries" ref="countries"/>
		<property name="bodytrackProperties" ref="bodytrackProperties"/>
	</bean>

    <bean id="widgets" class="org.apache.commons.configuration.PropertiesConfiguration">
        <property name="reloadingStrategy" ref="autoReloadStrategy"/>
        <constructor-arg value="widgets.properties"/>
    </bean>

	<mvc:annotation-driven />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="${db.url}" />
        <property name="user" value="${db.username}" />
        <property name="password" value="${db.password}" />
		<property name="acquireIncrement" value="10"/>
		<property name="idleConnectionTestPeriod" value="3000"/>
		<property name="initialPoolSize" value="100"/>
		<property name="maxPoolSize" value="300"/>
		<property name="minPoolSize" value="5"/>
	</bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>

    <!-- create a vanilla transaction manager for use with the transaction template -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="txTemplate" class="org.springframework.transaction.support.TransactionTemplate"
            p:isolationLevelName="ISOLATION_READ_UNCOMMITTED"
            p:transactionManager-ref="txManager">
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:packagesToScan="org.fluxtream" p:dataSource-ref="dataSource"
		p:jpaVendorAdapter-ref="hibernateVendor" p:jpaPropertyMap-ref="jpaPropertyMap" />

	<bean id="hibernateVendor"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
		p:showSql="false" />
		
	<util:map id="jpaPropertyMap">
		<entry key="connection.provider_class" value="org.hibernate.connection.C3P0ConnectionProvider"/>
	    <entry key="hibernate.generate_statistics" value="false"/>
		<entry key="hibernate.cache.region.factory_class"
			value="net.sf.ehcache.hibernate.EhCacheRegionFactory"/>
		<entry key="hibernate.cache.region.factory_class"
			value="net.sf.ehcache.hibernate.SingletonEhCacheRegionFactory"/>
		<entry key="hibernate.cache.use_second_level_cache"
			value="true"/>
		<entry key="hibernate.archive.autodetection" value="class, hbm" />
		<entry key="hibernate.default_schema " value="flx" />
		<entry key="hibernate.hbm2ddl.auto" value="none" />
		<entry key="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect" />
	</util:map>

</beans>