<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="placeholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
                <value>classpath:lastcommit.properties</value>
                <value>classpath:common.properties</value>
				<value>classpath:local.properties</value>
			</list>
		</property>
	</bean>

    <mvc:resources mapping="/${release}/js/**" location="/js/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/less/**" location="/less/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/css/**" location="/css/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/fonts/**" location="/fonts/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/assets-home/**" location="/assets-home/" cache-period="31556926" />
    <mvc:resources mapping="/css/**" location="/css/" cache-period="31556926" />
    <mvc:resources mapping="/images/**" location="/images/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/images/**" location="/images/" cache-period="31556926" />
    <mvc:resources mapping="/static/css/**" location="/static/css/" cache-period="31556926" />
    <mvc:resources mapping="/static/font/**" location="/static/font/" cache-period="31556926" />
    <mvc:resources mapping="/static/grapher4/**" location="/static/grapher4/" cache-period="31556926" />
    <mvc:resources mapping="/static/jasmine/**" location="/static/jasmine/" cache-period="31556926" />
    <mvc:resources mapping="/static/js/**" location="/static/js/" cache-period="31556926" />
    <mvc:resources mapping="/static/tiny_mce-3.5b1/**" location="/static/tiny_mce-3.5b1/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/html/**" location="/html/" cache-period="31556926" />

    <mvc:resources mapping="/widgets/**" location="/widgets/" cache-period="31556926"/>
    <mvc:resources mapping="/swagger-ui/**" location="/swagger-ui/" cache-period="31556926"/>

</beans>