<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
	<bean id="placeholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
                <value>classpath:lastcommit.properties</value>
                <value>classpath:common.properties</value>
				<value>classpath:${TARGET_ENV}.properties</value>
			</list>
		</property>
	</bean>

    <mvc:resources mapping="/${release}/js/**" location="/optimized/js/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/less/**" location="/optimized/less/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/css/**" location="/optimized/css/" cache-period="31556926" />
    <mvc:resources mapping="/${release}/assets-home/**" location="/optimized/assets-home/" cache-period="31556926" />
    <mvc:resources mapping="/css/**" location="/optimized/css/" cache-period="31556926" />
    <mvc:resources mapping="/static/css/**" location="/optimized/static/css/" cache-period="31556926" />
    <mvc:resources mapping="/static/font/**" location="/optimized/static/font/" cache-period="31556926" />
    <mvc:resources mapping="/static/grapher4/**" location="/optimized/static/grapher4/" cache-period="31556926" />
    <mvc:resources mapping="/static/jasmine/**" location="/optimized/static/jasmine/" cache-period="31556926" />
    <mvc:resources mapping="/static/js/**" location="/optimized/static/js/" cache-period="31556926" />
    <mvc:resources mapping="/static/tiny_mce-3.5b1/**" location="/optimized/static/tiny_mce-3.5b1/" cache-period="31556926" />

    <mvc:resources mapping="/widgets.json" location="/optimized/widgets/widgets.json" cache-period="31556926"/>
    <mvc:resources mapping="/widgets/**" location="/optimized/widgets/" cache-period="31556926"/>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

</beans>